<table class="table">
    <thead>
        <tr>
            <th scope="col" class="border-end border-bottom"></th>
            <th scope="col" class="text-center border-bottom">Result</th>
        </tr>
    </thead>
    <tbody>

        <tr class="align-middle">
            <th scope="row">
                Registered to vote
            </th>

            <td class="text-center table-{{ voter.progress.registered.color }}">
                {{ voter.progress.registered }}
                {% if voter.progress.registered.url %}
                <a href="{{ voter.progress.registered.url }}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
                {% endif %}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee application received
            </th>

            <td class="text-center table-{{ voter.progress.absentee_received.color }}">
                {{ voter.progress.absentee_received }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee application approved
            </th>

            <td class="text-center table-{{ voter.progress.absentee_approved.color }}">
                {{ voter.progress.absentee_approved }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Ballot available
            </th>

            <td class="text-center table-{{ voter.progress.ballot_available.color }}">
                {{ voter.progress.ballot_available }}
                {% if voter.progress.ballot_available.url %}
                <a href="{{ voter.progress.ballot_available.url }}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
                {% endif %}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee ballot sent
            </th>

            <td class="text-center table-{{ voter.progress.ballot_sent.color }}">
                {{ voter.progress.ballot_sent }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee ballot received
            </th>

            <td class="text-center table-{{ voter.progress.ballot_received.color }}">
                {{ voter.progress.ballot_received }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Voting complete
            </th>

            <td class="text-center table-{{ voter.progress.voted.color }}">
                {{ voter.progress.voted }}
            </td>
        </tr>

    </tbody>
</table>
