<table class="table">
    <thead>
        <tr>
            <th scope="col" class="align-middle border">
                Election Step
            </th>

            <th scope="col" class="text-center align-middle border">
                Progress
            </th>

            <th scope="col" class="text-center align-middle border">
                Deadline
            </th>
        </tr>
    </thead>
    <tbody class="border-start border-end">

        <tr class="align-middle">
            <th scope="row">
                Registered to Vote
            </th>

            <td class="text-center table-{{ voter.progress.registered.color }} border-start">
                {% if voter.progress.registered.url %}
                <a href="{{ voter.progress.registered.url }}" target="_blank" class="ms-1 text-decoration-none">
                    {{ voter.progress.registered }}
                </a>
                {% else %}
                {{ voter.progress.registered }}
                {% endif %}
            </td>

            <td class="text-center border-start {% if voter.progress.registered %} text-muted {% endif %}">
                {{ voter.progress.registered.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Application Requested
            </th>

            <td class="text-center table-{{ voter.progress.absentee_requested.color }} text-nowrap border-start">
            <form>{% csrf_token %}

                {% if voter.progress.absentee_requested.url %}
                <a href="{{ voter.progress.absentee_requested.url }}" target="_blank" class="text-decoration-none">
                    {{ voter.progress.absentee_requested }}
                </a>
                {% else %}
                {{ voter.progress.absentee_requested }}
                {% endif %}

                {% if voter.progress.registered %}
                {% if not voter.absentee %}
                <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                        hx-post="{% url 'buddies:status' slug=voter.slug %}"
                        hx-vals='{ "reset": true }'
                        hx-trigger="click"
                        hx-target="closest table"
                        hx-swap="outerHTML">
                    Voting absentee
                </button>
                {% elif not voter.progress.absentee_requested %}
                <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                    hx-post="{% url 'buddies:status' slug=voter.slug %}"
                    hx-vals='{ "absentee": false }'
                    hx-trigger="click"
                    hx-target="closest table"
                    hx-swap="outerHTML">
                    Voting in person
                </button>
                {% endif %}
                {% endif %}

            </form>
            </td>

            <td class="text-center border-start {% if voter.progress.absentee_requested %} text-muted {% endif %}">
                {{ voter.progress.absentee_requested.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Application Received
            </th>

            <td class="text-center table-{{ voter.progress.absentee_received.color }} border-start">
            <form>{% csrf_token %}

                {{ voter.progress.absentee_received }}

                {% if not voter.progress.absentee_received %}
                <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                    hx-post="{% url 'buddies:status' slug=voter.slug %}"
                    hx-vals='{ "absentee": false }'
                    hx-trigger="click"
                    hx-target="closest table"
                    hx-swap="outerHTML">
                    Voting in person
                </button>
                {% endif %}

            </form>
            </td>

            <td class="text-center border-start {% if voter.progress.absentee_received %} text-muted {% endif %}">
                {{ voter.progress.absentee_received.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Sample Ballot Available
            </th>

            <td class="text-center table-{{ voter.progress.ballot_available.color }} border-start">
                {{ voter.progress.ballot_available }}
                {% if voter.progress.ballot_available.url %}
                <a href="{% firstof voter.ballot voter.progress.ballot_available.url %}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
                {% endif %}
            </td>

            <td class="text-center border-start {% if voter.progress.ballot_available %} text-muted {% endif %}">
                {{ voter.progress.ballot_available.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Ballot Sent
            </th>

            <td class="text-center table-{{ voter.progress.ballot_sent.color }} border-start">
                {{ voter.progress.ballot_sent }}
            </td>

            <td class="text-center border-start {% if voter.progress.ballot_sent %} text-muted {% endif %}">
                {{ voter.progress.ballot_sent.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Ballot Received
            </th>

            <td class="text-center table-{{ voter.progress.ballot_received.color }} border-start">
                {{ voter.progress.ballot_received }}
            </td>

            <td class="text-center border-start {% if voter.progress.ballot_received %} text-muted {% endif %}">
                {{ voter.progress.ballot_received.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Election Day
            </th>

            <td class="text-center table-{{ voter.progress.voted.color }} text-nowrap border-start">
            <form>{% csrf_token %}

                {{ voter.progress.voted.icon }}

                {% if voter.progress.ballot_available.url %}
                {% if voter.progress.voted %}
                    <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                        hx-post="{% url 'buddies:status' slug=voter.slug %}"
                        hx-vals='{ "reset": true }'
                        hx-trigger="click"
                        hx-target="closest table"
                        hx-swap="outerHTML">
                        Didn't vote
                    </button>
                {% else %}
                    <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                        hx-post="{% url 'buddies:status' slug=voter.slug %}"
                        hx-vals='{ "voted": true }'
                        hx-trigger="click"
                        hx-target="closest table"
                        hx-swap="outerHTML">
                        Voted in person
                    </button>
                {% endif %}
                {% endif %}

            </form>
            </td>

            <td class="text-center border-start  {% if voter.progress.voted %} text-muted {% endif %}">
                {{ voter.progress.election.date_humanized }}
            </td>
        </tr>

    </tbody>
</table>
