<table class="table">
    <thead>
        <tr>
            <th scope="col" class="align-middle border">
                Election Step
            </th>

            <th scope="col" colspan="2" class="text-center align-middle border">
                Progress
            </th>

            <th scope="col" class="text-center align-middle border">
                Deadline
            </th>
        </tr>
    </thead>
    <tbody class="border-start border-end">

        <tr class="align-middle">
            <th scope="row">
                Registered to Vote
            </th>

            <td class="text-center table-{{ voter.progress.registered.color }} border-start">
                {% if voter.progress.registered.url %}
                <a href="{{ voter.progress.registered.url }}" target="_blank" class="ms-1 text-decoration-none">
                    {{ voter.progress.registered }}
                </a>
                {% else %}
                {{ voter.progress.registered }}
                {% endif %}
            </td>

            <td class="text-center table-{{ voter.progress.registered.color }}"></td>

            <td class="text-center border-start {% if voter.progress.registered %} text-muted {% endif %}">
                {{ voter.progress.registered.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Application Requested
            </th>

            <td class="text-center table-{{ voter.progress.absentee_requested.color }} border-start">
                {% if voter.progress.absentee_requested.url %}
                <a href="{{ voter.progress.absentee_requested.url }}" target="_blank" class="text-decoration-none">
                    {{ voter.progress.absentee_requested }}
                </a>
                {% else %}
                {{ voter.progress.absentee_requested }}
                {% endif %}
            </td>

            {% if voter.progress.registered %}
            <td class="text-center table-{{ voter.progress.absentee_requested.color }}">
                {% if not voter.absentee %}
                <form>{% csrf_token %}
                    <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                            hx-post="{% url 'buddies:status' slug=voter.slug %}"
                            hx-vals='{ "reset": true }'
                            hx-trigger="click"
                            hx-target="closest table"
                            hx-swap="outerHTML">
                        Voting absentee
                    </button>
                </form>
                {% elif not voter.progress.absentee_requested %}
                <form>{% csrf_token %}
                    <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                        hx-post="{% url 'buddies:status' slug=voter.slug %}"
                        hx-vals='{ "absentee": false }'
                        hx-trigger="click"
                        hx-target="closest table"
                        hx-swap="outerHTML">
                        Voting in-person
                    </button>
                </form>
                {% endif %}
            </td>
            {% else %}
            <td class="text-center table-{{ voter.progress.absentee_requested.color }}"></td>
            {% endif %}

            <td class="text-center border-start {% if voter.progress.absentee_requested %} text-muted {% endif %}">
                {{ voter.progress.absentee_requested.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Application Received
            </th>

            <td class="text-center table-{{ voter.progress.absentee_received.color }} border-start">
                {{ voter.progress.absentee_received.icon }}
            </td>

            <td class="text-center table-{{ voter.progress.absentee_received.color }}">
                {% if voter.progress.absentee_received %}
                {{ voter.progress.absentee_received.date_shortened }}
                {% elif voter.progress.actions %}
                <form>{% csrf_token %}
                    <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                        hx-post="{% url 'buddies:status' slug=voter.slug %}"
                        hx-vals='{ "absentee": false }'
                        hx-trigger="click"
                        hx-target="closest table"
                        hx-swap="outerHTML">
                        Voting in-person
                    </button>
                </form>
                {% endif %}
            </td>

            <td class="text-center border-start {% if voter.progress.absentee_received %} text-muted {% endif %}">
                {{ voter.progress.absentee_received.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Sample Ballot Available
            </th>

            <td class="text-center table-{{ voter.progress.ballot_available.color }} border-start">
                {{ voter.progress.ballot_available }}
            </td>

            <td class="text-center table-{{ voter.progress.ballot_available.color }}">
                {% if voter.ballot_url %}
                <a href="{{ voter.ballot_url }}{% if request.user != voter.user %}&share=all{% endif %}">
                    View Ballot
                </a>
                {% endif %}
            </td>

            <td class="text-center border-start {% if voter.progress.ballot_available %} text-muted {% endif %}">
                {{ voter.progress.ballot_available.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Sample Ballot Completed
            </th>

            <td class="text-center table-{{ voter.progress.ballot_completed.color }} border-start">
                {{ voter.progress.ballot_completed }}
            </td>

            <td class="text-center table-{{ voter.progress.ballot_completed.color }}"></td>

            <td class="text-center border-start {% if voter.progress.ballot_completed %} text-muted {% endif %}">
                {{ voter.progress.ballot_completed.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Ballot Sent
            </th>

            <td class="text-center table-{{ voter.progress.ballot_sent.color }} border-start">
                {{ voter.progress.ballot_sent.icon }}
            </td>

            <td class="text-center table-{{ voter.progress.ballot_sent.color }}">
                {{ voter.progress.ballot_sent.date_shortened }}
            </td>

            <td class="text-center border-start {% if voter.progress.ballot_sent %} text-muted {% endif %}">
                {{ voter.progress.ballot_sent.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Ballot Returned
            </th>

            {% if voter.progress.ballot_sent and not voter.progress.ballot_returned %}
            <td colspan="2" class="text-center table-{{ voter.progress.ballot_returned.color }} border-start">
                <form>{% csrf_token %}
                    <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                            hx-post="{% url 'buddies:status' slug=voter.slug %}"
                            hx-vals='{ "mailed": true }'
                            hx-trigger="click"
                            hx-target="closest table"
                            hx-swap="outerHTML">
                        ✅ Voted by-mail
                    </button>
                </form>
            </td>
            {% else %}
            <td class="text-center table-{{ voter.progress.ballot_returned.color }} border-start">
                {{ voter.progress.ballot_returned.icon }}
            </td>

            <td class="text-center table-{{ voter.progress.ballot_returned.color }}">
                {{ voter.progress.ballot_returned.date_shortened }}
            </td>
            {% endif %}

            <td class="text-center border-start {% if voter.progress.ballot_returned %} text-muted {% endif %}">
                {{ voter.progress.ballot_returned.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Absentee Ballot Received
            </th>

            <td class="text-center table-{{ voter.progress.ballot_received.color }} border-start">
                {{ voter.progress.ballot_received.icon }}
            </td>

            <td class="text-center table-{{ voter.progress.ballot_received.color }}">
                {{ voter.progress.ballot_received.date_shortened }}
            </td>

            <td class="text-center border-start {% if voter.progress.ballot_received %} text-muted {% endif %}">
                {{ voter.progress.ballot_received.deadline_humanized }}
            </td>
        </tr>

        <tr class="align-middle">
            <th scope="row">
                Election Day
            </th>

            {% if voter.progress.ballot_available.url %}
                {% if voter.progress.ballot_received.date %}
                    <td class="text-center table-{{ voter.progress.voted.color }} border-start">
                        {{ voter.progress.voted.icon }}
                    </td>
                    <td class="text-center table-{{ voter.progress.voted.color }}"></td>
                {% elif voter.progress.voted %}
                    <td class="text-center table-{{ voter.progress.voted.color }} border-start">
                        {{ voter.progress.voted.icon }}
                    </td>
                    <td class="text-center table-{{ voter.progress.voted.color }}">
                        <form>{% csrf_token %}
                            <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                                hx-post="{% url 'buddies:status' slug=voter.slug %}"
                                hx-vals='{ "reset": true }'
                                hx-trigger="click"
                                hx-target="closest table"
                                hx-swap="outerHTML">
                                Didn't vote
                            </button>
                        </form>
                    </td>
                {% else %}
                    <td colspan="2" class="text-center table-{{ voter.progress.voted.color }} text-nowrap border-start">
                        <form>{% csrf_token %}
                            <button class="btn btn-sm btn-outline-dark text-nowrap ms-1"
                                hx-post="{% url 'buddies:status' slug=voter.slug %}"
                                hx-vals='{ "voted": true }'
                                hx-trigger="click"
                                hx-target="closest table"
                                hx-swap="outerHTML">
                                ✅ Voted in-person
                            </button>
                        </form>
                    </td>
                {% endif %}
            {% else %}
            <td class="text-center table-{{ voter.progress.voted.color }} border-start">
                {{ voter.progress.voted.icon }}
            </td>
            <td></td>
            {% endif %}

            <td class="text-center border-start {% if voter.progress.voted %} text-muted {% endif %}">
                {{ voter.progress.election.date_humanized }}
            </td>
        </tr>

    </tbody>
</table>
