{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>Your Profile</h1>

<p>
    {{ voter.email }}
</p>

<form method="post">{% csrf_token %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="send-reminders"
        {% if not voter.profile.never_alert %} checked {% endif %}
        onChange="this.form.submit()">
        <label class="form-check-label" for="send-reminders">
            Send reminder emails
        </label>
    </div>
</form>

<h2 class="pt-4">Ballot Status</h2>

<div>
    <div
        hx-get="{% url 'buddies:status' slug=voter.slug %}"
        hx-trigger="load delay:1s"
        hx-swap="outerHTML">
        {% include "profile/_table.html" %}
    </div>
</div>

<h2 class="pt-4">Last Updated</h2>

<p>
    {{ voter.updated }}
</p>

<h2 class="pt-4">Voter Information</h2>

{{ form|crispy }}

<a class="btn btn-outline-dark" href="{% url 'buddies:setup' %}">Edit details</a>

{% endblock main %}
