{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>Your Profile</h1>

<p>
    {{ voter.email }}
</p>

<div class="d-flex justify-content-between align-items-center">
    <h2 class="pt-2">Voter Information</h2>
    <a class="btn btn-outline-dark" href="{% url 'buddies:setup' %}">Edit details</a>
</div>

{{ form|crispy }}

<h2 class="pt-2">Ballot Status</h2>

<div>
    <div hx-get="{% url 'buddies:status' slug=voter.slug %}"
         hx-trigger="load delay:1s"
         hx-swap="outerHTML">
        {% include "profile/_status.html" %}
    </div>
</div>

<h2 class="pt-2">Last Updated</h2>

<p>
    {{ voter.updated }}
</p>

{% endblock main %}
