{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>Your Profile</h1>

<p>
    {{ voter.email }}
</p>

<h2>Voter Information</h2>

{{ form|crispy }}

<h2>Ballot Status</h2>

<div class="pb-3">
{% include "profile/_status.html" %}
</div>

<h2>Last Updated</h2>

<p>
    {{ voter.updated }}
</p>

<a class="btn btn-primary" href="{% url 'buddies:friends' %}">View friends</a>
<a class="btn btn-secondary" href="{% url 'buddies:setup' %}">Edit profile</a>
<a class="btn btn-danger" href="{% url 'buddies:logout' %}">Log out</a>

{% endblock main %}
