{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>Your Voter Information</h1>

<p class="text-muted">
    Enter your voter information below.
    This will be used to check your registration status, discover upcoming elections, and show you a sample ballot.
</p>

<form method="post" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-primary" type="submit">Save</button>

    <a class="btn btn-secondary" href="{% url 'buddies:profile' %}">Cancel</a>
</form>

{% endblock main %}
