{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>Your Voter Information</h1>

<form method="post" novalidate>
  {% csrf_token %}

  {{ form|crispy }}

  {% if request.user.is_superuser %}
  <a class="btn btn-outline-danger" href="{% url 'admin:index' %}">Admin</a>
  {% endif %}

  <button class="btn btn-primary" type="submit">Save</button>

  {% if voter.complete %}
  <a class="btn btn-secondary" href="{% url 'buddies:profile' %}">Cancel</a>
  {% else %}
  <a class="btn btn-secondary" href="{% url 'buddies:login' %}">Cancel</a>
  {% endif %}

</form>

{% endblock main %}
