{% load crispy_forms_tags %}
{% load qr_code %}

{% with "http://"|add:request.get_host|add:"?referrer="|add:request.user.voter.slug as invitation_url %}

{% if form %}
<form method="post" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-user-plus"></i> Invite Friends
        </button>
        <button class="btn btn-secondary" type="button" id="copy-button"
                data-clipboard-text="{{ invitation_url }}">
                <i class="fa-solid fa-share-from-square"></i> Copy Invitation Link
        </button>
    </div>
</form>
{% endif %}

{% if qr_code %}
<hr class="mt-5">
<p>Or have them scan this QR code:</p>
<div class="text-center d-md-none">
    {% qr_from_text invitation_url size="M" %}
</div>
<div class="text-center d-none d-md-block ">
    {% qr_from_text invitation_url size="L" %}
</div>
{% endif %}

{% endwith %}

<script>
var copyButton = document.getElementById('copy-button');
copyButton.addEventListener('click', function() {
    var textToCopy = copyButton.getAttribute('data-clipboard-text');
    navigator.clipboard.writeText(textToCopy).then(function() {
        copyButton.setAttribute('title', 'Link Copied');
        var tooltip = new bootstrap.Tooltip(copyButton);
        tooltip.show();
    }).catch(function(error) {
        console.error("Clipboard error: ", error);
    });
});
</script>
