{% load crispy_forms_tags %}

{% if form %}

<form method="post" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-user-plus"></i> Invite Friends
        </button>
        <button class="btn btn-secondary" type="button" id="copy-button"
                data-clipboard-text="http://{{ request.get_host }}?referrer={{ request.user.voter.slug }}">
                <i class="fa-solid fa-share-from-square"></i> Copy Invitation Link
        </button>
    </div>
</form>

{% endif %}

<script>
var copyButton = document.getElementById('copy-button');
copyButton.addEventListener('click', function() {
    var textToCopy = copyButton.getAttribute('data-clipboard-text');
    navigator.clipboard.writeText(textToCopy).then(function() {
        copyButton.setAttribute('title', 'Link Copied');
        var tooltip = new bootstrap.Tooltip(copyButton);
        tooltip.show();
    }).catch(function(error) {
        console.error("Clipboard error: ", error);
    });
});
</script>
