<tr class="align-middle {% if not voter.complete %}text-muted{% endif %}">

    <th scope="row">
        {{ voter.display_name }}
    </th>

    <td class="text-center table-{{ voter.progress.registered.color }}" style="white-space: nowrap;">
        {{ voter.progress.registered }}
        {% if voter.progress.registered.url %}
        <a href="{{ voter.progress.registered.url }}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
        {% endif %}

        <button class="btn btn-sm btn-outline-dark ms-2 p-1 py-0 d-inline d-sm-none" type="button"
            data-bs-toggle="collapse" data-bs-target="#status-{{ voter.slug }}" aria-expanded="false" aria-controls="status-{{ voter.slug }}">
            ▼
        </button>
    </td>

    <td class="text-center table-{{ voter.progress.ballot_available.color }} d-none d-sm-table-cell d-md-none">
        {{ voter.progress.ballot_available }}
        {% if voter.progress.ballot_available.url %}
        <a href="{{ voter.progress.ballot_available.url }}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
        {% endif %}
    </td>

    <td class="text-center table-{{ voter.progress.absentee_received.color }} d-none d-md-table-cell">
        {{ voter.progress.absentee_received }}
    </td>

    <td class="text-center table-{{ voter.progress.absentee_approved.color }} d-none d-md-table-cell">
        {{ voter.progress.absentee_approved }}
    </td>

    <td class="text-center table-{{ voter.progress.ballot_available.color }} d-none d-md-table-cell">
        {{ voter.progress.ballot_available }}
        {% if voter.progress.ballot_available.url %}
        <a href="{{ voter.progress.ballot_available.url }}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
        {% endif %}
    </td>

    <td class="text-center table-{{ voter.progress.ballot_sent.color }} d-none d-md-table-cell">
        {{ voter.progress.ballot_sent }}
    </td>

    <td class="text-center table-{{ voter.progress.ballot_received.color }} d-none d-md-table-cell">
        {{ voter.progress.ballot_received }}
    </td>

    <td class="text-center table-{{ voter.progress.voted.color }}">
        {{ voter.progress.voted }}
    </td>

    <td class="text-center pe-0">
        {{ voter.updated_humanized }}
    </td>

    <td class="text-end">
        <form>
        {% csrf_token %}

        {% if voter.user == request.user %}
        <a class="btn btn-sm btn-primary" href="{% url 'buddies:profile' %}">
            <span class="d-none d-sm-inline">View</span>
            <span class="d-inline d-sm-none">✎</span>
        </a>
        {% elif voter in recommended %}
        <div class="btn-group" role="group" aria-label="Recommended friend">
            <button class="btn btn-sm btn-success"
                hx-post="{% url 'buddies:status' slug=voter.slug %}"
                hx-vals='{ "add": true }'
                hx-trigger="click"
                hx-target="closest tr"
                hx-swap="outerHTML">
                <span class="d-none d-sm-inline">Add</span>
                <span class="d-inline d-sm-none">+</span>
            </button>
            <button class="btn btn-sm btn-danger"
                hx-post="{% url 'buddies:status' slug=voter.slug %}"
                hx-vals='{ "ignore": true }'
                hx-trigger="click"
                hx-target="closest tr"
                hx-swap="outerHTML">
                <span class="d-none d-sm-inline">Ignore</span>
                <span class="d-inline d-sm-none">-</span>
            </button>
        </div>
        {% elif voter.complete %}
        <button class="btn btn-sm btn-secondary"
            {% if not request.user.is_authenticated %}disabled{% endif %}
            hx-post="{% url 'buddies:status' slug=voter.slug %}"
            hx-trigger="click"
            hx-target="closest tr"
            hx-swap="outerHTML">
            <span class="d-none d-sm-inline">Refresh</span>
            <span class="d-inline d-sm-none">↺</span>
        </button>
        {% endif %}

        </form>
    </td>

</tr>

<tr class="collapse" id="status-{{ voter.slug }}">
    <td colspan="100%" class="p-3">
        {% include "profile/_status.html" %}
    </td>
</tr>
