<tr class="align-middle {% if not voter.complete %}text-muted{% endif %}">

    <th scope="row">
        <span class="d-block d-sm-none" {% if "@" in voter.display_name %}style="word-break: break-all;"{% endif %}>
            {{ voter.display_name }}
        </span>
        <span class="d-none d-sm-block">
            {{ voter.display_name }}
        </span>
    </th>

    {% if voter in recommended %}
    <td></td> <!-- Registered -->
    <td class="d-none d-lg-table-cell"></td> <!-- Absentee: Requested -->
    <td class="d-none d-lg-table-cell"></td> <!-- Absentee: Recieved -->
    <td class="d-none d-sm-table-cell"></td> <!-- Ballot: Available -->
    <td class="d-none d-lg-table-cell"></td> <!-- Ballot: Sent -->
    <td class="d-none d-lg-table-cell"></td> <!-- Ballot: Recieved -->
    <td class=""></td> <!-- Election: Voted -->
    <td class="d-none d-md-table-cell"></td> <!-- Election: Deadline -->
    <td></td> <!-- Last Updated -->
    {% else %}

    <td class="text-center table-{{ voter.progress.registered.color }}" style="white-space: nowrap;">
        {% if voter.progress.registered.url %}
        <a href="{{ voter.progress.registered.url }}" target="_blank" class="ms-1 text-decoration-none">
            {{ voter.progress.registered }}
        </a>
        {% else %}
        {{ voter.progress.registered }}
        {% endif %}
        <button class="btn btn-sm btn-outline-dark ms-2 p-1 py-0 d-lg-none" type="button"
            id="toggle-{{ voter.slug }}"
            data-bs-toggle="collapse" data-bs-target="#status-{{ voter.slug }}"
            aria-expanded="false" aria-controls="status-{{ voter.slug }}">
            ▼
        </button>
    </td>

    <td class="text-center table-{{ voter.progress.ballot_available.color }} d-none d-sm-table-cell d-lg-none">
        {{ voter.progress.ballot_available }}
        {% if voter.progress.ballot_available.url %}
        <a href="{{ voter.progress.ballot_available.url }}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
        {% endif %}
    </td>

    <td class="text-center table-{{ voter.progress.absentee_requested.color }} d-none d-lg-table-cell">
        {% if voter.progress.absentee_requested.url %}
        <a href="{{ voter.progress.absentee_requested.url }}" target="_blank" class="ms-1 text-decoration-none">
            {{ voter.progress.absentee_requested }}
        </a>
        {% else %}
        {{ voter.progress.absentee_requested }}
        {% endif %}
    </td>

    <td class="text-center table-{{ voter.progress.absentee_received.color }} d-none d-lg-table-cell">
        {{ voter.progress.absentee_received }}
    </td>

    <td class="text-center table-{{ voter.progress.ballot_available.color }} d-none d-lg-table-cell">
        {{ voter.progress.ballot_available }}
        {% if voter.progress.ballot_available.url %}
        <a href="{{ voter.progress.ballot_available.url }}" target="_blank" class="ms-1 text-decoration-none">🔗</a>
        {% endif %}
    </td>

    <td class="text-center table-{{ voter.progress.ballot_sent.color }} d-none d-lg-table-cell">
        {{ voter.progress.ballot_sent }}
    </td>

    <td class="text-center table-{{ voter.progress.ballot_received.color }} d-none d-lg-table-cell">
        {{ voter.progress.ballot_received }}
    </td>

    <td class="text-center table-{{ voter.progress.election.color }} d-none d-md-table-cell">
        {{ voter.progress.election.delta_date }}
    </td>

    <td class="text-center table-{{ voter.progress.voted.color }}">
        {{ voter.progress.voted.icon }}
    </td>

    <td class="text-center">
        {{ voter.updated_humanized }}
    </td>

    {% endif %}

    <td>
        <form class="float-end">{% csrf_token %}
        <div class="input-group flex-nowrap">

        {% if voter.user == request.user %}
        <a class="btn btn-sm btn-primary" href="{% url 'buddies:profile' %}">
            <span class="d-none d-sm-inline text-nowrap">✎ View Profile</span>
            <span class="d-inline d-sm-none">✎</span>
        </a>
        {% elif voter in recommended %}
        <button class="btn btn-sm btn-success"
            hx-post="{% url 'buddies:status' slug=voter.slug %}"
            hx-vals='{ "add": true }'
            hx-trigger="click"
            hx-target="closest tr"
            hx-swap="outerHTML">
            <span class="d-none d-sm-inline text-nowrap">⊕ Follow Voter</span>
            <span class="d-inline d-sm-none">⊕</span>
        </button>
        {% elif voter.complete %}
        <button class="btn btn-sm btn-secondary"
            {% if not request.user.is_authenticated %}disabled{% endif %}
            hx-post="{% url 'buddies:status' slug=voter.slug %}"
            hx-trigger="click"
            hx-target="closest tr"
            hx-swap="outerHTML">
            <span class="d-none d-sm-inline text-nowrap">↺ Refresh</span>
            <span class="d-inline d-sm-none">↺</span>
        </button>
        {% endif %}

        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false" {% if not request.user.is_authenticated %}disabled{% endif %}>
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>

        {% if request.user.is_authenticated %}
        <ul class="dropdown-menu dropdown-menu-end text-center px-2 pb-3">

            <li><h6 class="dropdown-header">More options:</h6></li>

            {% if voter in recommended %}
            <li><button class="btn btn-sm btn-danger"
                hx-post="{% url 'buddies:status' slug=voter.slug %}"
                hx-vals='{ "ignore": true }'
                hx-trigger="click"
                hx-target="closest tr"
                hx-swap="outerHTML">
                <span class="text-nowrap">⊖ Ignore Suggestion</span>
            </button></li>
            {% elif voter.user != request.user %}
            <li><a class="btn btn-sm btn-primary" href="mailto:{{ voter.user.email }}">
                <span class="text-nowrap">@ Send Email</span>
            </a></li>
            <li><button class="btn btn-sm btn-danger mt-2"
                hx-post="{% url 'buddies:status' slug=voter.slug %}"
                hx-vals='{ "ignore": true }'
                hx-trigger="click"
                hx-target="closest tr"
                hx-swap="outerHTML">
                <span class="text-nowrap">⊖ Unfollow Voter</span>
            </button></li>
            {% else %}
            <li><button class="btn btn-sm btn-secondary"
                {% if not request.user.is_authenticated %}disabled{% endif %}
                hx-post="{% url 'buddies:status' slug=voter.slug %}"
                hx-trigger="click"
                hx-target="closest tr"
                hx-swap="outerHTML">
                <span class="d-none d-sm-inline text-nowrap">↺ Refresh</span>
                <span class="d-inline d-sm-none">↺</span>
            </button></li>
            {% endif %}
        </ul>
        {% endif %}

        </div>
        </form>
    </td>

</tr>

<tr class="collapse" id="status-{{ voter.slug }}">
    <td colspan="100%" class="p-3">
        {% include "profile/_status.html" %}
    </td>
</tr>

<script>

var collapsible = document.getElementById('status-{{ voter.slug }}')

collapsible.addEventListener('show.bs.collapse', function () {
    button = document.getElementById('toggle-{{ voter.slug }}')
    button.innerText = '▲'
})

collapsible.addEventListener('hidden.bs.collapse', function () {
    button = document.getElementById('toggle-{{ voter.slug }}')
    button.innerText = '▼'
})

</script>
