{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>{{ voter.name }}'s Profile</h1>

<p>
    {{ voter.email }}
</p>

<div class="d-flex justify-content-between align-items-center">
    <h2 class="pt-2">Voter Information</h2>
    {% if not voter.complete %}
    <a class="btn btn-primary" href="{% url 'buddies:friends-setup' slug=voter.slug %}">Enter details</a>
    {% elif not voter.progress.registered %}
    <a class="btn btn-primary" href="{% url 'buddies:friends-setup' slug=voter.slug %}">Update details</a>
    {% endif %}
</div>

{{ form|crispy }}

<h2 class="pt-2">Ballot Status</h2>

<div>
    <div>
        {% include "profile/_table.html" %}
    </div>
</div>

<h2 class="pt-2">Last Updated</h2>

<p>
    {{ voter.updated }}
</p>

{% endblock main %}
