{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>{% firstof voter.short_name "Friend" %}'s Profile</h1>

<p>
    {{ voter.user.email }}
</p>

{% if not voter.complete or not voter.progress.registered %}

<div class="d-flex justify-content-between align-items-center pt-4">
    <h2>Voter Information</h2>
    {% if voter.complete %}
    <a class="btn btn-primary" href="{% url 'buddies:friends-setup' slug=voter.slug %}">Update Details</a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'buddies:friends-setup' slug=voter.slug %}">Finish Setup</a>
    {% endif %}
</div>

{{ form|crispy }}

{% endif %}

<h2 class="pt-4">Ballot Status</h2>

{% include "profile/_progress.html" %}

<div
    hx-get="{% url 'buddies:status' slug=voter.slug %}"
    hx-trigger="load delay:1s"
    hx-swap="outerHTML">
    {% include "profile/_table.html" %}
</div>

<h2 class="pt-4">Last Updated</h2>

<p>
    {{ voter.updated }}
</p>

{% endblock main %}
