{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<script>
    async function redirectToEmail() {
        try {
            const response = await fetch('{% url "buddies:email" slug=voter.slug %}');
            const data = await response.json();
            const email = data.email;

            const newTab = window.open(`mailto:${email}`, '_blank');

            if (newTab) {
                setTimeout(() => {
                    newTab.close();
                }, 5000);
            }

        } catch (error) {
            console.error('Error fetching email:', error);
        }
    }

    function removeEmailParamFromUrl() {
        const urlWithoutEmail = window.location.href.replace(/([&?]email=true)(&|$)/, '$2');
        history.replaceState(null, null, urlWithoutEmail);
    }

    function checkEmailInUrlAndRedirect() {
        if (window.location.href.includes("email=true")) {
            redirectToEmail();
            removeEmailParamFromUrl();
        }
    }

    document.addEventListener("DOMContentLoaded", checkEmailInUrlAndRedirect);
</script>


<h1>{% firstof voter.short_name "Friend" %}'s Profile</h1>

<div class="btn-group">
    <button class="btn btn-{% if voter.progress.actions %}primary{% else %}secondary{% endif %}" onclick="redirectToEmail()">
        <i class="fa-solid fa-envelope"></i> Send Email
    </button>
    <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button" id="contextMenu" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu px-2" aria-labelledby="contextMenu">
        <li><p class="text-muted">More options:</p></li>
        <li>
            <form>
                {% csrf_token %}
                <button class="btn btn-danger"
                    hx-post="{% url 'buddies:status' slug=voter.slug %}"
                    hx-vals='{ "ignore": true, "redirect": true }'
                    hx-trigger="click"
                    hx-swap="none">
                    <span class="text-nowrap">
                        <i class="fa-solid fa-square-minus"></i> Unfollow Voter
                    </span>
                </button>
            </form>
        </li>
    </ul>
</div>

{% if not voter.complete %}

<div class="d-flex justify-content-between align-items-center mt-5">
    <h2>Voter Information</h2>
    {% if voter.complete %}
    <a class="btn btn-primary" href="{% url 'buddies:friends-setup' slug=voter.slug %}">
        <i class="fa-solid fa-pen-to-square"></i> Update Details
    </a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'buddies:friends-setup' slug=voter.slug %}">
        <i class="fa-solid fa-pen-to-square"></i> Finish Setup
    </a>
    {% endif %}
</div>

{{ form|crispy }}

{% endif %}

<h2 class="mt-5">Ballot Status</h2>

{% include "profile/_progress.html" %}

<div
    hx-get="{% url 'buddies:status' slug=voter.slug %}"
    hx-trigger="load delay:1s"
    hx-swap="outerHTML">
    {% include "profile/_table.html" %}
</div>

<h2 class="mt-5">Last Updated</h2>

<p>
    {{ voter.updated|default:"Never (Incomplete Voter Information)" }}
    <a href="{% url 'buddies:status' slug=voter.slug %}?reset=true"
        class="ms-1 text-reset text-decoration-none"
        style="opacity: 0.25;">✕</a>
</p>

{% endblock main %}
