{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid my-3">

    {% include "_messages.html" %}

    {% if search %}
    <input class="form-control mb-3" type="search"
       name="q" placeholder="Begin typing to search your friends..." autofocus
       hx-get="{% url 'buddies:search' %}"
       hx-trigger="keyup changed delay:500ms, search"
       hx-target="#search-results"
       _hx-indicator=".htmx-indicator">
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12">

            <table class="table">
                <thead class="text-center {% if search %} border-top {% endif %}">
                    {% include "friends/_header.html" %}
                </thead>
                <tbody id="search-results">
                    {% include "friends/_results.html" %}
                </tbody>
            </table>

        </div>

        <div class="col-lg-6 col-md-8 col-12 mb-4">
            {% if request.user.is_authenticated and not referrer %}
                {% include "friends/_invite.html" %}
            {% else %}
                {% include "about/_details.html" %}
            {% endif %}
        </div>

    </div>
</div>

{% endblock content %}
