{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Updated</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ voter.name }}</th>
                    <td><pre>{{ voter.status|pprint }}</pre></td>
                    <td>{{ voter.updated }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'buddies:profile' %}">
                            View
                        </a>
                    </td>
                </tr>
                {% for voter in friends %}
                {% include "friends/_voter.html" %}
                {% endfor %}
            </tbody>
            </table>

    </div>
</div>

{% endblock content %}
