{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h1>{% firstof voter.short_name "Friend" %}'s Voter Information</h1>

<p class="text-muted">
    Enter your friend's voter information below.
    This will be used to check their registration status, discover upcoming elections, and show them a sample ballot.
</p>

<form method="post" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-success" type="submit">
        <i class="fa-solid fa-circle-check"></i> Save Changes
    </button>

    <a class="btn btn-secondary" href="{% url 'buddies:friends-profile' slug=voter.slug %}">
        <i class="fa-solid fa-ban"></i> Cancel
    </a>

</form>

{% endblock main %}
