asgiref==3.5.0; python_version >= "3.8" and python_version < "4.0"
bugsnag==4.1.1; python_version >= "3.5" and python_version < "4"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.11; python_full_version >= "3.6.0" and python_version >= "3"
click==8.0.3; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
crispy-bootstrap5==0.6; python_version >= "3.6"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
dj-database-url==0.4.2
django-browser-reload==1.3.0; python_version >= "3.7"
django-cors-headers==3.11.0; python_version >= "3.7"
django-crispy-forms==1.14.0; python_version >= "3.7"
django-debug-toolbar==3.2.4; python_version >= "3.6"
django-grappelli==3.0.2
django-multi-email-field @ git+https://github.com/aht007/django-multi-email-field@99a27ccdad465ff13a08cdfdd6b2612f817d32fc
django-redis==4.12.1; python_version >= "3.5"
django-sesame==2.4; python_version >= "3.6" and python_version < "4.0"
django==4.0.3; python_version >= "3.8"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.13.0; python_version >= "3.7"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
jellyfish==0.6.1
minilog==2.0.1; python_version >= "3.6" and python_version < "4.0"
packaging==21.3; python_version >= "3.6"
psycopg2-binary==2.9.3; python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
redis==4.1.3; python_version >= "3.6"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
sqlparse==0.4.2; python_version >= "3.8" and python_version < "4.0"
tzdata==2021.5; sys_platform == "win32" and python_version >= "3.8" and python_version < "4.0"
ua-parser==0.10.0
urllib3==1.26.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
us==2.0.2
uvicorn==0.17.6; python_version >= "3.7"
webob==1.8.7; python_version >= "3.5" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.5" and python_version < "4" and python_full_version >= "3.3.0"
whitenoise==5.3.0; python_version >= "3.5" and python_version < "4"
wrapt==1.13.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
zipcodes==1.2.0
