interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/districts/729/
  response:
    content: '{"url":"http://michiganelections.io/api/districts/729/","id":729,"category":"Jurisdiction","name":"Township
      of Marcellus"}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/positions/?active_election=null&limit=1000&district_id=729
  response:
    content: '{"count":19,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/63712/","id":63712,"name":"Hudson
      Memorial Building Director","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Hudson%20Memorial%20Building%20Director.md","reference_url":null,"section":"Nonpartisan","seats":7,"term":"","candidates":[],"election":{"url":"http://michiganelections.io/api/elections/49/","id":49,"name":"State
      General","date":"2022-11-08","date_humanized":"Tuesday, November 8th","active":false,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/729/","id":729,"category":"Jurisdiction","name":"Township
      of Marcellus"}},{"url":"http://michiganelections.io/api/positions/63711/","id":63711,"name":"Library
      Board Director","description":"Responsible for managing library services, overseeing
      staff, coordinating with patrons and working to improve library facilities.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Library%20Board%20Director.md","reference_url":null,"section":"Nonpartisan","seats":3,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/110143/","id":110143,"name":"Chad
      J. Underly","description":"","reference_url":"https://cfrsearch.nictusa.com/committees/3","party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}},{"url":"http://michiganelections.io/api/candidates/110142/","id":110142,"name":"Korinne
      New","description":"","reference_url":"https://cfrsearch.nictusa.com/committees/2","party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}},{"url":"http://michiganelections.io/api/candidates/110141/","id":110141,"name":"Sharon
      Melko","description":"","reference_url":"https://cfrsearch.nictusa.com/committees/1","party":{"url":"http://michigan[...]
