interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/districts/728/
  response:
    content: '{"url":"http://michiganelections.io/api/districts/728/","id":728,"category":"County","name":"Cass"}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/proposals/?active_election=null&limit=1000&district_id=728
  response:
    content: "{\"count\":5,\"next\":null,\"previous\":null,\"results\":[{\"url\":\"http://michiganelections.io/api/proposals/8695/\",\"id\":8695,\"name\":\"Cass
      County Transportation Authority Millage Proposal\",\"description\":\"Shall the
      Cass County Transportation Authority, County of Cass, Michigan, be authorized
      to levy annually a new additional millage in an amount not to exceed .25 mill
      ($0.25 on each $1,000 of taxable value) against all taxable property within
      the Cass County Transportation Authority limits (the jurisdictional limits of
      the County Cass) for a period of five (5) years, 2024 to 2028, inclusive, for
      the purpose of providing funds for all public transportation authority purposes
      permitted by law, including providing transportation services for seniors, disabled
      persons, and the general public and owning, managing, and maintaining facilities,
      property, and vehicles to provide such services? The estimate of the revenue
      the Cass County Transportation Authority will collect if the millage is approved
      and levied by the Cass County Transportation Authority in the first year (2024)
      is approximately $617,000.\",\"reference_url\":null,\"election\":{\"url\":\"http://michiganelections.io/api/elections/54/\",\"id\":54,\"name\":\"Presidential
      Primary\",\"date\":\"2024-02-27\",\"date_humanized\":\"Tuesday, February 27th\",\"active\":true,\"reference_url\":null},\"district\":{\"url\":\"http://michiganelections.io/api/districts/728/\",\"id\":728,\"category\":\"County\",\"name\":\"Cass\"}},{\"url\":\"http://michiganelections.io/api/proposals/6699/\",\"id\":6699,\"name\":\"Cass
      County Proposal For 911 Central Dispatch\",\"description\":\"Shall the constitutional
      tax rate limitation in the County of Cass be renewed at 1/5 mill ($0.20) per
      thousand dollars against all taxable property in the County of Cass for a period
      of 4 years beginning with th[...]
