interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/districts/728/
  response:
    content: '{"url":"http://michiganelections.io/api/districts/728/","id":728,"category":"County","name":"Cass"}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/positions/?active_election=null&limit=1000&district_id=728
  response:
    content: '{"count":18,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/40934/","id":40934,"name":"Clerk
      & Register of Deeds","description":"Records all documents pertaining to real
      property, including deeds, mortgages, land contracts, liens and other documents
      pertaining to real estate.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Clerk%20&%20Register%20of%20Deeds.md","reference_url":null,"section":"","seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/66906/","id":66906,"name":"Monica
      McMichael","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/2/","id":2,"name":"Republican","color":"#E81B23"}}],"election":{"url":"http://michiganelections.io/api/elections/41/","id":41,"name":"State
      General","date":"2020-11-03","date_humanized":"Tuesday, November 3rd","active":false,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/728/","id":728,"category":"County","name":"Cass"}},{"url":"http://michiganelections.io/api/positions/40936/","id":40936,"name":"Drain
      Commissioner","description":"Responsible for planning, developing and maintaining
      surface water drainage systems.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Drain%20Commissioner.md","reference_url":null,"section":"","seats":1,"term":"","candidates[...]
