interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/elections/
  response:
    content: '{"count":22,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/elections/54/","id":54,"name":"Presidential
      Primary","date":"2024-02-27","date_humanized":"Tuesday, February 27th","active":true,"reference_url":null},{"url":"http://michiganelections.io/api/elections/53/","id":53,"name":"Special
      Primary","date":"2024-01-30","date_humanized":"Tuesday, January 30th","active":true,"reference_url":null},{"url":"http://michiganelections.io/api/elections/52/","id":52,"name":"November
      Consolidated","date":"2023-11-07","date_humanized":"Tuesday, November 7th","active":false,"reference_url":null},{"url":"http://michiganelections.io/api/elections/51/","id":51,"name":"August
      Consolidated","date":[...]
