interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/positions/?active_election=null&limit=1
  response:
    content: '{"count":49139,"next":"http://michiganelections.io/api/positions/?active_election=null&limit=1&offset=1","previous":null,"results":[{"url":"http://michiganelections.io/api/positions/65249/","id":65249,"name":"President
      of the United States","description":"The president of the United States (POTUS)
      is the head of state and head of government of the United States of America.
      The president directs the executive branch of the federal government and is
      the commander-in-chief of the United States Armed Forces.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/President%20of%20the%20United%20States.md","reference_url":null,"section":"Democratic","seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/113468/","id":113468,"name":"Dean
      Phillips","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/1/","id":1,"name":"Democratic","color":"#3333FF"}},{"url":"http://michiganelections.io/api/candidates/113467/","id":113467,"name":"Joseph
      R. Biden Jr.","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/1/","id":1,"name":"Democratic","color":"#3333FF"}},{"url":"http://michiganelections.io/api/candidates/113469/","id":113469,"name":"Marianne
      Williamson","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/1/","id":1,"name":"Democratic","color":"#3333FF"}}],"election":{"url":"http://michiganelections.io/api/elections/54/","id":54,"name":"Presidential
      Primary","date":"2024-02-27","date_humanized":"Tuesday, February 27th","active":true,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/1427/","id":1427,"category":"State","name":"Michigan"}}]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status_code: 200
version: 1
