interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/districts/728/
  response:
    content: '{"url":"http://michiganelections.io/api/districts/728/","id":728,"category":"County","name":"Cass"}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://michiganelections.io/api/positions/?active_election=null&limit=1000&election_id=54&district_id=728
  response:
    content: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status_code: 200
version: 1
