{% extends "emails/base.html" %}

{% block content %}

<p style="font-size: 14pt;">
    Hello {{ name }},
</p>

<p style="font-size: 12pt;">
    Michiganders on
    <b>Ballot Buddies</b> ha{{ items|pluralize:"s,ve" }} been making progress
    towards casting
    {% if date %}
    their vote in the upcoming
    <b>{{ election }}</b> election on <b>{{ date }}</b>.
    {% else %}
    a vote in the upcoming election{{ items|pluralize }} in their respective precinct{{ items|pluralize }}.
    {% endif %}
</p>

<p style="font-size: 12pt;">
    Here's what they've been up to:
    <ul style="font-size: 12pt; list-style-position: inside;">
    {% for item in items %}
        <li style="font-size: 12pt;">{{ item }}</li>
    {% endfor %}
    </ul>
</p>

<p style="font-size: 13pt;">
    Click this link to view {% if date %}your{% else %}their{% endif %} progress:
    <a href="{{ url }}{{ query_string }}">{{ url }}</a>
</p>

{% endblock content %}
