<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body { background-color: white !important; }
    </style>
</head>
<body style="background-color: white; margin: 0; padding: 0;">
    <table role="presentation" width="100%" style="background-color: white;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="background-color: white;">
                {% block content %}
                {% endblock content %}
            </td>
        </tr>
    </table>
</body>
</html>
