{% extends "emails/base.html" %}

{% block content %}

<p style="font-size: 14pt;">
    Hello {{ name }},
</p>

<p style="font-size: 12pt;">
    Your friend {{ friend.short_name }} has challenged you to vote in every election.
    They're using the <b>Ballot Buddies</b> app to ensure every Michigander votes!
</p>

<p style="font-size: 13pt;">
    Click this link to
    {% if complete %}join them{% else %}get started{% endif %}:
    <a href="{{ url }}{{ query_string }}">{{ url }}</a>
</p>

{% endblock content %}
