<footer class="footer pt-4">
    <div class="container text-center">
        <small class="text-muted">
            <a class="text-muted text-decoration-none" href="{% url 'buddies:about' %}"><b>Ballot Buddies</b></a>
            is an
            <a class="text-muted text-decoration-none" href="https://github.com/citizenlabsgr/ballotbuddies" target="_blank"><b>open source</b></a>
            project by
            <a class="text-muted text-decoration-none" href="https://citizenlabs.org/" target="_blank">
            <b>Citizen Labs</b></a>.
        </small>
    </div>
</footer>
