{% url 'buddies:friends' as friends_url %}
{% url 'buddies:search' as search_url %}
{% url 'buddies:profile' as profile_url %}
{% url 'explore:index' as explore_url %}
{% url 'buddies:about' as about_url %}
{% url 'buddies:login' as login_url %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

	    <a class="navbar-brand" href="{% url 'buddies:index' %}">Ballot Buddies</a>

		<div class="navbar-nav d-flex flex-row">
			<a class="nav-link {% if request.path == friends_url or request.path == search_url %} active {% endif %}"
					href="{% url 'buddies:friends' %}">
				Friends
				{% if user.voter.neighbors.exists %}
				<span class="text-warning">⊕</span>
				{% endif %}
			</a>

			<a class="nav-link {% if request.path == profile_url %} active {% endif %} ms-3 ms-sm-0"
					href="{% url 'buddies:profile' %}">Profile</a>

			{% if request.user.is_staff %}
			<a class="nav-link text-danger {% if request.path == explore_url %} active {% endif %} ms-3 ms-sm-0"
					href="{% url 'explore:index' %}">Explore</a>
			{% endif %}
		</div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

	    <div class="collapse navbar-collapse" id="navbar-content">

	        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
		        <li class="nav-item">
		            <a class="nav-link {% if request.path == about_url %} active {% endif %}"
                        href="{% url 'buddies:about' %}">About</a>
		        </li>
				{% if debug or allow_debug %}
				<li class="nav-item">
		            <a class="nav-link {% if 'emails' in request.path %} active {% else %} text-danger {% endif %}"
						{% if voter %}
                        href="{% url 'alerts:detail' slug=voter.slug %}"
						{% else %}
						href="{% url 'alerts:index' %}"
						{% endif %}>Emails</a>
		        </li>
				{% endif %}
	        </ul>

			{% if request.user.is_superuser or debug or allow_debug %}
			<a class="btn btn-outline-danger me-2" href="{% url 'admin:index' %}">Admin</a>
			{% endif %}

            {% if request.user.is_authenticated %}

			<a class="btn btn-outline-secondary me-2" href="{% url 'buddies:search' %}" aria-label="Search">🔎</a>
            <a class="btn btn-outline-secondary" href="{% url 'buddies:logout' %}">Log out</a>

            {% elif request.path != login_url %}

            <a class="btn btn-outline-secondary" href="{% url 'buddies:login' %}">Log in</a>

            {% endif %}

	    </div>
    </div>
</nav>
