{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block main %}

    <h1>Access Ballot Buddies</h1>

    <p class="mb-1">
        We'll send you an email with a link to log in automatically.

        <div><small class="text-muted mt-0">Don't have an account?
        <a class="text-decoration-none" href="{% url 'core:join' %}">Sign up</a>
        now.</small></div>
    </p>

    {% if domain %}

        {% if standard %}
            <a class="btn btn-primary" href="http://{{ domain }}">
                <i class="fa-solid fa-inbox"></i> Open {{ domain }}
            </a>
        {% else %}
            <div class="alert alert-success" role="alert">
                An email was sent to your <b>{{ domain }}</b> address.
            </div>
        {% endif %}

    {% else %}

    <form method="post" novalidate>
        {% csrf_token %}

        {{ form|crispy }}

        <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-right-to-bracket"></i> Log in
        </button>

        {% if debug %}
        <button type="submit" class="btn btn-outline-danger" name="debug" value="true">
            <i class="fa-solid fa-gear"></i> Log in (bypass email)
        </button>
        {% endif %}
    </form>

    {% endif %}

{% endblock main %}
