{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">

      <h1>Access Ballot Buddies</h1>

      <p>We'll send you an email with a link to log in automatically.<p>

      <form method="post" novalidate>
        {% csrf_token %}

        {{ form|crispy }}

        {% comment %} TODO: Enable button when email is connected {% endcomment %}
        <button class="btn btn-primary" type="submit" disabled>Log in</button>

        {% if allow_debug %}
        <button type="submit" class="btn btn-outline-danger" name="debug" value="true">Log in (debug)</button>
        {% endif %}
      </form>

    </div>
</div>

{% endblock content %}
