{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load socialaccount %}

{% block main %}

<h1>Join Ballot Buddies</h1>

<p class="mb-1">
    Using your voter information, we'll periodically check to see if you have any upcoming elections and provide you status updates on your ballot.

    <div><small class="text-muted mt-0">Already have an account?
    <a class="text-decoration-none" href="{% url 'core:login' %}">Log in</a>
    now.</small></div>
</p>

<form method="post" novalidate>
    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-primary" type="submit">
        <i class="fa-solid fa-right-to-bracket"></i> Sign up
    </button>
</form>

{% if google_auth_enabled %}
<hr>

<a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}">
    <i class="fa-brands fa-google"></i> Sign up with Google
</a>
{% endif %}

{% endblock main %}
