{% extends "base.html" %}

{% block content %}

<script type="module" src="https://cdn.zapier.com/packages/partner-sdk/v0/zapier-elements/zapier-elements.esm.js"></script>

<link rel="stylesheet" href="https://cdn.zapier.com/packages/partner-sdk/v0/zapier-elements/zapier-elements.css"/>

<div class="container-xl my-4">

    <zapier-full-experience
      client-id="xlARLrn0FNA5qXC6adCFDtIyfDVLtRhzYnPKbF51"
      theme="light"
      app-search-bar-display="show"
      app-exclusions="google-sheets,google-drive,facebook-lead-ads">
    </zapier-full-experience>

</div>

{% endblock %}
