{% extends 'base.html' %}

{% block content %}

<h1>Your Profile</h1>

<p>
    {{ voter.user.username }}
</p>

<h2>Voter Information</h2>

<p>
    <pre>{{ voter.data | pprint }}</pre>
</p>

<h2>Ballot Status</h2>

<p>

    <pre>{{ voter.status | pprint }}</pre>
</p>

<h2>Last Changed</h2>

<p>
    {{ voter.updated }}
</p>

<a class="btn btn-primary" href="{% url 'buddies:profile' %}">Refresh status</a>
<a class="btn btn-secondary" href="{% url 'buddies:setup' %}">Edit profile</a>
<a class="btn btn-danger" href="{% url 'buddies:logout' %}">Log out</a>

{% endblock content %}
