/* Enforce hiding the LastPass autocomplete icon */

[data-lpignore] + [data-lastpass-icon-root], [data-lpignore="true"] + [data-lastpass-icon-root] {
  display: none;
}

/* Enable absolute footer positioning */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

/* Blur effect for recommended friends  */

.enable-blur>* {
  filter: opacity(35%) saturate(0%);
  clip-path: inset(0px -1em);
  pointer-events: none;
}

.disable-blur {
  filter: blur(0);
  pointer-events: all;
}

/* Custom colors */

.text-faded {
  color: #b1b4b8 !important;
}
