html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/*
  Enforces hiding the lastpass autocomplete icon
  which no longer respects data-lpignore, autocomplete="off"
*/
[data-lpignore] + [data-lastpass-icon-root], [data-lpignore="true"] + [data-lastpass-icon-root] {
  display: none;
}
