<ol>
    {% for election in elections %}
    <li>

        <b>{{ election.name }}</b>

        ({{ election.date }})

        <div class="d-flex gap-4 p-3">
            <a class="text-decoration-none"
                href="{% url 'explore:proposals-election' election.id %}">
                View {{ election.proposals_count }} Proposal{{ election.proposals_count|pluralize }}
            </a>

            <a class="text-decoration-none"
                href="{% url 'explore:positions-election' election.id %}">
                View {{ election.positions_count }} Position{{ election.positions_count|pluralize }}
            </a>
        </div>

    </li>
    {% endfor %}
</ol>
