{% load markdownify %}

<style>
    ol {
        padding-left: 0px;
        list-style-position: inside;
    }
    p {
        margin-bottom: 0.25em;
    }
    ul {
        margin-bottom: 0.25em !important;
    }
    .highlight {
        background-color: yellow;
    }
</style>

<ol>
    {% for position in positions %}

    {% if forloop.revcounter == 10 and count >= limit %}
    <li hx-trigger="revealed"
        hx-get="{{ request.path }}?q={{ q }}&limit={{ limit|add:20 }}"
        hx-target="closest ol"
        hx-swap="outerHTML">
    {% else %}
    <li>
    {% endif %}

        <b class="position-text">{{ position.name }}</b>

        {% if position.section %}
        ({{ position.section }} Section)
        {% endif %}

        <div class="position-text mt-2" style="text-align: justify;">
            {{ position.description|markdownify }}
        </div>

        <p>Candidates running to fill {{ position.seats }} available seat{{ position.seats|pluralize }}:</p>

        <ul>
            {% for candidate in position.candidates %}
            <li>
                <span class="position-text">
                    {{ candidate.name }}
                </span>
                <span>
                    (<span style="color: {{ candidate.party.color }};">⬤</span>
                    {{ candidate.party.name }})
                </span>
            </li>
            {% empty %}
            <li><i>No candidates on ballot.</i></li>
            {% endfor %}
        </ul>

        <div class="{% if not election or not district %}mt-3 mt-lg-0{% endif %} d-flex flex-column flex-md-row justify-content-end align-md-items-center gap-1 gap-md-4" hx-boost="true">

            {% if not election %}
            <span class="text-nowrap">
                <b>Election:</b>
                {% if district %}
                    <a class="text-decoration-none" href="{% url 'explore:positions-election-district' position.election.id position.district.id %}{% if q %}?q={{ q }}{% endif %}">
                        {{ position.election.name }}
                    </a>
                {% else %}
                    <a class="text-decoration-none" href="{% url 'explore:positions-election' position.election.id %}{% if q %}?q={{ q }}{% endif %}">
                        {{ position.election.name }}
                    </a>
                {% endif %}
                ({{ position.election.date }})
            </span>
            {% endif %}

            {% if not district %}
            <span class="text-nowrap">
                <b>District:</b>
                {% if election %}
                    <a class="text-decoration-none" href="{% url 'explore:positions-election-district' position.election.id position.district.id %}{% if q %}?q={{ q }}{% endif %}">
                        {{ position.district.name }}
                    </a>
                {% else %}
                    <a class="text-decoration-none" href="{% url 'explore:positions-district' position.district.id %}{% if q %}?q={{ q }}{% endif %}">
                        {{ position.district.name }}
                    </a>
                {% endif %}
                ({{ position.district.category }})
            </span>
            {% endif %}

        </div>

        <hr>

    </li>

    {% empty %}

    {% if limit %}
    <i>No matching positions.</i>
    {% elif total %}
    <span class="text-muted text-delayed"
        hx-trigger="load delay:100ms"
        hx-get="{{ request.path }}?q={{ q }}&limit=20"
        hx-target="closest ol"
        hx-swap="outerHTML">
        Loading {{ total }} positions...
    </span>
    {% else %}
    <span class="text-muted text-delayed"
        hx-trigger="load delay:100ms"
        hx-get="{{ request.path }}?q={{ q }}"
        hx-target="body"
        hx-swap="outerHTML">
    </span>
    {% endif %}

    {% endfor %}
</ol>

<script>
    function highlightWords(query) {
        if (!query) {
            return;
        }

        var parts = query.split(' -', 1);
        var includePhrase = parts[0].trim();

        var elements = document.getElementsByClassName('position-text');
        for (var i = 0; i < elements.length; i++) {
            var content = elements[i];
            var escapedIncludePhrase = includePhrase.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
            var regex = new RegExp('(' + escapedIncludePhrase + ')', 'gi');
            content.innerHTML = content.innerHTML.replace(regex, '<span class="highlight">$1</span>');
        }
    }
    highlightWords('{{ q }}');
</script>
