{% load markdownify %}

<style>
ol {
    padding-left: 0px;
    list-style-position: inside;
}
p {
    margin-bottom: 0.25em;
}
ul {
    margin-bottom: 0.25em !important;
}
</style>

<ol>
    {% for proposal in proposals %}
    <li>

        <b>{{ proposal.name }}</b>

        <div class="mt-2" style="text-align: justify;">
            {{ proposal.description|markdownify }}
        </div>

        <div class="d-flex justify-content-center gap-4">

            {% if not election %}
            <span>
                <b>Election:</b>
                {% if district %}
                    <a class="text-decoration-none" href="{% url 'explore:election-district' proposal.election.id proposal.district.id %}">
                        {{ proposal.election.name }}
                    </a>
                {% else %}
                    <a class="text-decoration-none" href="{% url 'explore:election' proposal.election.id %}">
                        {{ proposal.election.name }}
                    </a>
                {% endif %}
                ({{ proposal.election.date }})
            </span>
            {% endif %}

            {% if not district %}
            <span>
                <b>District:</b>
                {% if election %}
                    <a class="text-decoration-none" href="{% url 'explore:election-district' proposal.election.id proposal.district.id %}">
                        {{ proposal.district.name }}
                    </a>
                {% else %}
                    <a class="text-decoration-none" href="{% url 'explore:district' proposal.district.id %}">
                        {{ proposal.district.name }}
                    </a>
                {% endif %}
                ({{ proposal.district.category }})
            </span>
            {% endif %}

        </div>

        <hr>

    </li>

    {% if forloop.revcounter < 10 and count >= limit %}
    <span hx-trigger="revealed"
        hx-get="{{ request.path }}?limit={{ limit|add:step }}"
        hx-target="closest ol"
        hx-swap="outerHTML">
    </span>
    {% endif %}

    {% endfor %}
</ol>
