{% extends "base.html" %}

{% block main %}

<h1>Explore All Ballots</h1>

{% if election %}
<p>
    <b>By Election:</b>
    {{ election.name }} ({{ election.date }})
    <a class="text-decoration-none" href="{% url 'explore:index' %}" hx-boost="true">
        ×
    </a>
</p>
{% endif %}

{% if district %}
<p>
    <b>By District:</b>
    {{ district.name }} ({{ district.category }})
    <a class="text-decoration-none" href="{% url 'explore:index' %}" hx-boost="true">
        ×
    </a>
</p>
{% endif %}

<h2>Proposals</h2>

{% include "explore/_proposals.html" %}

{% endblock main %}


